<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio sesión | Mercalo Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
</head>
<body>
    <header>
        <div class="logo-barra">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <form action="">
                <input type="text" name="search" id="search" placeholder="Buscar productos, marcas">
                <button><i class="fas fa-search"></i></button>
            </form>
            <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul type="none">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars menu"></i>
        </div>
    </header>

    <main>
        <form action="">
            <div>
                <label for="user">Nombre de usuario</label>
                <input type="text" name="user" id="user" placeholder="Ingrese nombre de usuario...">
            </div>
        </form>
        <div>
            <label for="pass">Ingresar contraseña</label>
            <input type="password" name="pass" id="pass" placeholder="Ingrese contraseña...">
        </div>
        <button type="submit"><a href="/">Iniciar sesión</a></button>
    </main>

    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@</p>
        </section>
        <section>
            <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>

</body>
</html>