:root{
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-gris-oscuro: #666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39b54a;
    --fuente: 'Roboto', sans-serif;
    --cuerpo-texto: 12px;
    --titulares: 24px;
    --precios:18px;
    --descuentos: 16px;
    --descripciones: 16px;
}

footer{
    background-color: white;
    margin-top: 50px;
    padding: 40px 0;
}

footer section{
    text-align: center;
    padding: 30px 0 10px;
}
footer section i{
    color: var(--color-celeste);
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}
footer section h3{
    font-size: var(--descripciones);
    color: var(--color-gris-oscuro);
}
footer section p{
    font-size: var(--cuerpo-texto);
    color: var(--color-gris-oscuro);
    margin: 0 10% 0 10%;
}
.copyright{
    padding: 0 10px;
    font-size: var(--descripciones);
    font-weight: 200;
    margin-top: 30px; 
}