.home img{
    width: 100vw;
}

.home section article{
    padding: 0;
    margin: 10px 30px;
    text-align: center;
    background-color: white;
}

.home section article img{
    width: 70vw;
    align-items: center;
}
.home section h2{
    font-size: var(--titulares);
    margin: 10px;
}
.home section article p{
    font-size: var(--precios);
}
.home section article span{
    font-size: var(--descuentos);
}
.home section article h4{
    font-size: var(--descripciones);
}