main section{
    width: 90%;
    margin-left: 5%;
}

main img{
    width: 100%;
}

main section article{
    padding: 0;
    margin: 10px 0;
    text-align: center;
    background-color: white;
}

main section article img{
    width: 100%;
}
main section article div{
    text-align: left;
    padding: 10px 15px;
    border-top: 1px solid #ebebeb;
}
main section article div h4{
    padding: 10px 0;
    visibility: hidden;
}
main section h2{
    font-size: var(--titulares);
    margin: 10px;
}
main section article p{
    font-size: var(--precios);
}
main section article span{
    font-size: var(--descuentos);
    margin-bottom: 15px;
}
main section article h4{
    font-size: var(--descripciones);
}
main section article div i{
    color: var(--color-verde);
    border: 1px solid var(--color-verde);
    padding: 5px;
    border-radius: 50%;
}

@media (min-width: 361px) {
    main section article{
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
    main section article div h4{
        visibility: visible;
    }
}
@media (min-width: 769px) {
    main section article div{
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
}